.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans";
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important; 
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            
}

body{
    background-color:hsl(185, 75%, 39%);
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 59%);
}

li{
    list-style-type: none;
}

main{
    background-image: url(./images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: max(20%, 300px);
    border-radius:10px 10px 10px 10px;
    transform: scale(1.2);
}

.card__top{
    background-image: url(./images/bg-pattern-card.svg);
    border-radius:10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image .background{
    background-color: #fff;
}

.image{
    width: 5em;
    height: 5em;
    margin-top: 3em;
}

img{
    width: 100%;
    height: 100%;
    border-radius:50px 50px 50px 50px;
    border: 3px solid white;
    box-shadow: 10px 0px 10px 0px white;
    margin-top: 2em;
}

.card__social__media{
    display: flex;
    font-size:clamp(1rem,2vh,1.5rem);
    justify-content:center;
    align-items: center;
    padding: 1.5em;
    border-top: 0.1px solid hsl(0, 0%, 59%);
    opacity:0.7;
    gap: 2em;
}

.card__social__media h4{
    color:hsl(0, 0%, 59%);
    font-size: clamp(0.5rem,1.2vh,1rem);
    letter-spacing: 1.5px;
}

.card__2 h4{
    text-align: center;

}


.number{
    text-align: center;
    font-size: clamp(1rem,2vh,3rem);
    color: #000000;
    font-weight: 900;
}

.card__user__info{
    align-self: center;
    display: grid;
    gap: 0.25em;
    grid-template-columns: 1fr 1fr;
    margin-left: 4em;
    margin-top: -3.5em;
    padding: 2em 0;
}

.name{
    grid-column:1/2;
    color: #000000;
    font-weight: bold;
}

.address{
    grid-column:span 2;
    margin-left: 2.9em;
    font-size: 0.8rem;
    border: none;
    font-weight: 700;
}

.age{
    color:hsl(0, 0%, 59%);
    font-size: 1rem;
}

.card__user__info::before{
    content: "";
    display: block;
    padding:2em;
    z-index: -1;
    background-color:white;
}

